<!DOCTYPE html>
<html>
<head>

  <title>Sell Diamonds and Jewelry In Queens | NYC | New York</title>
  <meta name="description" content="Get Cash For Diamonds and Jewelry in NYC Today. Top Dollar For Your Items In New York." />
  <meta charset="utf-8" />
  <meta property="og:title" content="Sell Diamonds And Jewelry In NYC For Cash. We Always Pay More For Diamonds In New York." />
  <meta property="twitter:title" content="selldiamondsqueens.com - Cash For Diamonds And Jewelry In Queens." />
  <meta property="og:description" content="Get Cash for Your Diamonds And Jewelry in NYC Today.">
  <meta property="og:image" content="http://selldiamondsqueens.com/bunner.jpg" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
</head>
<body>

<%= render "layouts/navbar" %>

<div class="container-fluid">
<%= yield %>
</div>
<%= render "layouts/footer" %>

<a href='tel:+1-718-846-1600' class="float-button-mobile visible-xs"> <i class="fa fa-phone"></i></a>


</body>
</html>
